.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background: url('1.jpg') no-repeat center center/cover; /* Ensure you replace 'your-hero-image.jpg' with the actual image filename */
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif; /* Adds a touch of elegance */
  letter-spacing: 1px;
  color: #fff;
}

.hero-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  color: #fff;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif; /* A modern, clean font */
  color: #fff;
}

.btn {
  background-color: #c0a060; /* Matches logo's gold color */
  color: #fff;
  padding: 12px 50px;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a88945; /* Darker shade for hover effect */
}

/* Modal CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
